name: Build and Publish Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build-and-push-image-cpu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push CPU image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: environments/ubuntu-cpu/Dockerfile
          tags: ghcr.io/marius-team/quake/ubuntu-cpu:latest
          push: true

  build-and-push-image-gpu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Clear disk space
        run: |
          echo "Space before cleanup:"
          df -h
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android/sdk/ndk
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          echo "Space after cleanup:"
          df -h

      - name: Build and push GPU image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: environments/ubuntu-cuda/Dockerfile
          tags: ghcr.io/marius-team/quake/ubuntu-cuda:latest
          push: true
